.headd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #ffffff; /* Adjust as needed */
    color: #fff; /* Adjust text color as needed */
}

.headd img {
    width: 36px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

.headd a {
    text-decoration: none;
    color: #fff; /* Adjust link color as needed */
    margin-left: 10px; /* Adjust spacing between links as needed */
}

.headd a:hover {
    text-decoration: underline;
}
