<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>


  <servlet>
    <servlet-name>Controller.LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller.LoginServlet</servlet-name>
    <url-pattern>/Controller.LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Controller.SignupServlet</servlet-name>
    <servlet-class>Controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller.SignupServlet</servlet-name>
    <url-pattern>/Controller.SignupServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Controller.LogoutServlet</servlet-name>
    <servlet-class>Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller.LogoutServlet</servlet-name>
    <url-pattern>/Controller.LogoutServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>Controller.SessionFilter</filter-name>
    <filter-class>Controller.SessionFilter</filter-class>
    <init-param>
      <param-name>paramName</param-name>
      <param-value>paramValue</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Controller.SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Controller.SendEmailServlet</servlet-name>
    <servlet-class>Controller.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller.SendEmailServlet</servlet-name>
    <url-pattern>/Controller.SendEmailServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Controller.SubmissionServlet</servlet-name>
    <servlet-class>Controller.SubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller.SubmissionServlet</servlet-name>
    <url-pattern>/Controller.SubmissionServlet</url-pattern>
  </servlet-mapping>

</web-app>
